<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>Acebook</title>
    
  </head>
  <body class="bg_image">
<section>

<h1>
<span>W</span>
<span>E</span>
<span>L</span>
<span>C</span>
<span>O</span>
<span>M</span>
<span>E</span>
<span>&nbsp;&nbsp;</span>
<span>T</span>
<span>O</span>
<span>&nbsp;&nbsp;</span>
<span>A</span>
<span>C</span>
<span>E</span>
<span>B</span>
<span>O</span>
<span>O</span>
<span>K</span>
</h1>

</section>
    
    <div class="form">
      <%= form_for(:session, url: 'login' ) do |f| %>

      <%= f.email_field :email, class: 'form-control', placeholder:"Email" %>


      <%= f.password_field :password, class: 'form-control', placeholder:"Password"%>

      <%= f.submit "Login", class: "btn btn-primary btn-block btn-large" %>
    <% end %>
    <form action="/users/new" method="get">
    <button class="btn btn-primary btn-block btn-large" type="submit">Sign Up</button>
  </form>
  </div>

  <br>
  

  <script>
    hide_title()
    // hide_titleBar()
    hide_newpost()
    hide_timeline()
    hide_profile()
    hide_logout()
    hide_editProfile()
  </script>
</body>
</html>
