<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acebook</title>
</head>
<body>
  

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<h1>Welcome to Acebook</h1>

<form action="/users" method="post">
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="Login" />
</form>
<form action="/users/new" method="get">
    <button type="submit">Sign Up</button>
</form>

</body>
</html>


