<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User's Profile</title>
</head>
<body>

  <ul>
  <li><%= link_to "Timeline", '/posts' %>
  <li><%= link_to "Log out", 'logout', method: :delete %>
</ul>


<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

</body>
</html>