<div class="form">

    <%= form_for @post do |form| %>
   
    <%= form.text_field :message, placeholder: "Message"%>
    <%= form.file_field :image, multiple: true, placeholder:"Photos"%>

    <%= form.submit "Submit", class:"btn btn-primary btn-block btn-large" %>
  <% end %>
  </div>
  <script>
    hide_newpost()
  </script>
