/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body.light {

  background-color: #f0f2f5;
  /* background-color:#a7effa; */
  color: #1c1e21;
  font-family: helvetica, sans-serif; 
  text-align: left;

}

body.dark {
  background-color: #0f0946;
  color: #ffffff;
  font-family: helvetica, sans-serif; 
  text-align: left;
}

.posts {

  background-color: white;

  margin: auto;
  width: 50%;
  border: 1px solid rgba(48, 43, 49, 0.365);
  padding: 10px;
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  border-radius: 10px;
  

}

.img-responsive {
  max-width: 60px;
}

#title {
  padding-bottom: 50px;
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: bold;
  color:#3590de;
  /* position:fixed;
  top: 10px; */


}

#titlebar {
  background-color: white;
  position: fixed;
  top: 0;
}

.dark_mode {
  width: 80px;
  height:50px;
  background-color: #f0f2f5;
  border: 30px;
  border-radius: 20%;
  right: 60px;
  transition-duration: 1s;
  position: absolute;
  top: 90px;
  left: 10px;
}

.dark_mode:hover {
  background-color: #5f6dec;
  color: white;
}

.light_mode {
  width: 80px;
  height:50px;
  background-color: #81828d;
  border: 30px;
  border-radius: 20%;
  right: 60px;
  transition-duration: 1s;
  position: absolute;
  top: 90px;
  left: 10px;
}

.light_mode:hover {
  background-color: #f0f2f5;
  color: white;
}

.posts-light {
  background-color: rgb(177, 201, 247);
  color: black;
  text-align: center;
  padding: 10px;
  margin: auto;
  width: 50%;
  height: auto;
  
}
.posts-dark {
  background-color: rgb(129, 129, 241);
  color: black;
  text-align: center;
  padding: 10px;
  margin: auto;
  width: 50%;
  height: auto;
}

.post-image {
  max-width: 150px;
  max-height: 150px;
  padding: 1px;
}

.likes-light{
  padding: 10px;
  margin: 10px;
  width: 30%;
  align-self: left;
}

.likes-dark {
  margin: 10px;
  width: 30%;
  align-self: left;
}

.comment-form {
  width: 100%;
  font-family: Helvetica, sans-serif;
  border: none;
}

.display-comments-dark {
  width: 30%;
  align-self: left;
}

/* NAV BAR */
 

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position:fixed;
  top: 0;
  width: 100%;
}

#navbar li {
  float:right;
}

#navbar li a {
  display: block;
  padding: 8px;
  /* background-color: #dddddd; */
}