/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-bottom: 80px;
 }


.img-responsive {
  max-width: 60px;
}

/* .dark_mode {
  width: 80px;
  height: 50px;
  background-color: #f0f2f5;
  border: 30px;
  border-radius: 20%;
  right: 60px;
  transition-duration: 1s;
  position: absolute;
  top: 90px;
  right: 10px;
}

.dark_mode:hover {
  background-color: #ff4c00;
  color: white;
}

.light_mode {
  width: 80px;
  height: 50px;
  background-color: #81828d;
  border: 30px;
  border-radius: 20%;
  right: 60px;
  transition-duration: 1s;
  position: absolute;
  top: 90px;
  right: 10px;
}

.light_mode:hover {
  background-color: #ff4c00;
  color: white;
} */

/* .posts-light {
  background-color: rgb(177, 201, 247);
  color: black;
  padding: 10px;
  margin: auto;
  width: 50%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.posts-light:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.posts-dark {
  background-color: rgb(129, 129, 241);
  color: black;
  padding: 10px;
  margin: auto;
  width: 50%;
  height: auto; 

  box-shadow: 0 4px 8px 0 rgb(177, 201, 247);
  transition: 0.3s;
} 

.posts-dark:hover {
  box-shadow: 0 8px 16px 0 rgb(177, 201, 247);
}
*/

/* NAV BAR */

#titlebar {
  margin:0px; 
  text-align:center; 
  width: 100%; 
  background-color: rgba(255, 255, 255, 0); 
  position: fixed;
  top: 0;
}

#title {
  padding-bottom: 50px;
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: bold;
  color:#3590de;
  position:fixed;
  top: 10px;



}

#logo {
  display:inline-block; 
  float: left;
}

#navbar a {
  color:#3590de;
  font-weight: bold; 
  padding: 6px 20px; 
  border-bottom: 0px solid #3590de; 
  text-decoration: none; 
  transition: border-bottom 0.2s linear 0s;
}

#navbar a:hover {
  color:#054976; 
  background:transparent; 
  text-decoration:none; 
  border-bottom:7px solid #3590de;}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding:22px 6px 16px 0;
  overflow: hidden;
  position:fixed;
  top: 0;
  right: 10px;
  width: 50%;
  z-index: 999;
}

#navbar li {
  float:right;
}

#navbar li a {
  display: block;
  padding-right: 15px;
}

#footer {
  padding-bottom: 6px;
  padding-top: 6px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: #3590de;
  text-align: right;
}

#yield {
  padding-top: 50px;
}

.btn { 
  display: inline-block; 
  *display: inline; 
  *zoom: 1; 
  padding: 4px 10px 4px; 
  margin-bottom: 40px; 
  font-size: 13px; 
  line-height: 18px; 
  color: #333333; 
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
  vertical-align: middle; 
  background-color: #f5f5f5; 
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); 
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); 
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); 
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); 
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); 
  background-image: linear-gradient(top, #ffffff, #e6e6e6); 
  background-repeat: repeat-x; 
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); 
  border-color: #e6e6e6 #e6e6e6 #e6e6e6; 
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
  border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; 
  border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); 
  cursor: pointer; 
  *margin-left: .3em; 
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { 
  background-color: #e6e6e6; 
}

.btn-large { padding: 9px 14px; 
  font-size: 15px; 
  line-height: normal; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
}

.btn:hover { 
  color: #333333; 
  text-decoration: none; 
  background-color: #e6e6e6; 
  background-position: 0 -15px; 
  -webkit-transition: background-position 0.1s linear; 
  -moz-transition: background-position 0.1s linear; 
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear; 
  transition: background-position 0.1s linear; 
}

.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { 
  color: rgba(255, 255, 255, 0.75); 
}
.btn-primary { background-color: #4a77d4; 
  background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); 
  background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); 
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); 
  background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); 
  background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); 
  background-image: linear-gradient(top, #6eb6de, #4a77d4); 
  background-repeat: repeat-x; 
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  
  border: 1px solid #3762bc; 
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4); 
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); 
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { 
  filter: none; 
  background-color: #4a77d4; 
}
.btn-block { 
  width: 100%; 
  display:block; 
}

.form { 
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width:300px;
  height:300px;
  border: 3px;
}
form h2 { color: #4297a8;
   text-shadow: 0 0 10px #4297a8; 
   letter-spacing:2px; 
   text-align:center; 
  }

input { 
  width: 93.5%; 
  margin-bottom: 10px; 
  background: rgba(255, 255, 255, 0.719);
  padding: 10px;
  font-size: 13px;
  color: rgb(110, 110, 110);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;


}
input:focus { 
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
  } 