
.light {
  background-color: #f0f2f5;
  color: #1c1e21;
  font-family: helvetica, sans-serif; 
  text-align: left;
}
    
.dark {
  background-color: #1F2833;
  color: #a1bee4;
  font-family: helvetica, sans-serif; 
  text-align: left;
}

.wrapper {
  padding-top: 40px;
  text-align: center;
}

/////////////////////////////////////////////////
// Mixins
/////////////////////////////////////////////////
@mixin crater($top, $left, $size) {
  content: "";
  position: absolute;
  top: $top;
  left: $left;
  width: $size;
  height: $size;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}

@mixin cloudBubble($top, $right, $width, $height, $deg) {
  content: "";
  display: block;
  position: relative;
  top: $top;
  right: $right;
  width: $width;
  height: $height;
  border: 8px solid #d4d4d2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ($deg);
  background-color: #fff;
}

/////////////////////////////////////////////////
// Day State
/////////////////////////////////////////////////
.toggle {
  position: fixed;
  display: inline-block;
  width: 100px;
  margin-left: 35px;
  padding: 4px;
  border-radius: 40px;
}

.toggle:before,
.toggle:after {
  content: "";
  display: table;
}

.toggle:after {
  clear: both;
}

.toggle-bg {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  background-color: #c0e6f6;
  border-radius: 40px;
  border: 4px solid #81c0d5;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 40px;
  z-index: 2;
  opacity: 0;
}

.toggle-switch {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 50px;
  background-color: #f5eb42;
  border: 4px solid #e4c74d;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-switch-figure {
  position: absolute;
  bottom: -14px;
  left: -50px;
  display: block;
  width: 80px;
  height: 30px;
  border: 8px solid #d4d4d2;
  border-radius: 20px;
  background-color: #fff;
  transform: scale(0.4);
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:after {
    @include cloudBubble(-65px, -42px, 15px, 15px, 70deg);
  }
  &:before {
    @include cloudBubble(-25px, -10px, 30px, 30px, 30deg);
  }
}

.toggle-switch-figureAlt {
  @include crater(5px, 2px, 2px);

  box-shadow: 42px -7px 0 -3px #fcfcfc, 75px -10px 0 -3px #fcfcfc,
    54px 4px 0 -4px #fcfcfc, 83px 7px 0 -2px #fcfcfc, 63px 18px 0 -4px #fcfcfc,
    44px 28px 0 -2px #fcfcfc, 78px 23px 0 -3px #fcfcfc;

  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(0);
}

.toggle-switch-figureAlt:before {
  @include crater(-6px, 18px, 7px);
}

.toggle-switch-figureAlt:after {
  @include crater(19px, 15px, 2px);
}

/////////////////////////////////////////////////
// Night State
/////////////////////////////////////////////////
.toggle-input:checked ~ .toggle-switch {
  margin-left: 0;
  border-color: #dee1c5;
  background-color: #fffdf2;
}

.toggle-input:checked ~ .toggle-bg {
  background-color: #484848;
  border-color: #202020;
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
  margin-left: 40px;
  opacity: 0;
  transform: scale(0.1);
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
  transform: scale(1);
}

.timeago-posts {
  color: #666666;
  font-size: small;
  font-weight: lighter;
  margin-left: 12%;
  vertical-align: 100%;
}
  
#postcontent {
  text-align: left;
  padding-top: 20%;
  padding-left: 5%;
  margin: auto;
  width: 50%;
  height: auto;
 
}
  
#postname {
  font-size: large;
  font-weight: bold;
  text-align: left;
  top: 7%;
  z-index: 7;
  position: absolute;
  width: 100%;
  .post-avatar {
    display:inline-block;
    width: 60px;
    height: 60px;
    margin-right: 8px;
    border-radius:50%;
    border: 1px solid #efefef;
    top: 5%;
    position:static; 
  }

  .poster-name-link {
    display:inline-block;
    margin-right:0px;
    vertical-align: 25px;
    font-size: larger;
  }

}


.posts {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.card {
  width: 725px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  z-index: 3;

  .comments-form {
    z-index: 4;
  }
  .post-image {
    max-width: 50%;
    max-height: 50%;
    // center image in post card
    padding: 1px;
  }
  
  .comment-textbox {
    width: 100%;
    font-family: Helvetica, sans-serif;
    border: none;
  
  }
  .comments-likes-count {
    z-index: 4;
    font-size: medium;
    padding-right: 3%;
    float: left;

  //   .postlikes {
  //   float: left;
  //   }
  //   .postcomments {
  //     float: right;
  //   }
  }
}
.card:hover {
  transform: translateY(20px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.card #postcontent {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}
.card .info h1 {
  margin: 0px;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
