#timeago {
  color: #666666
}

#postcontent {
  text-align: center;
  padding: 10px;
  margin: auto;
  width: 50%;
  height: auto;
}

#postname {
  font-size: large;
  font-weight: bold;
  text-align: left;
  .mini-avatar {
    display:inline-block;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius:50%;
    vertical-align: bottom;
    img{
      width: 100%;
      height: 100%;
      border: 1px solid #efefef;
      border-radius: 50%;
      
    }
  }
  .poster-name-link {
    display:inline-block;
    margin-right:10px;
    vertical-align: 40%;
  }
}