#timeago {
  color: #666666
}

#postcontent {
  text-align: center;
}

#postname {
  font-size: large;
  font-weight: bold;
}

.mini-avatar{
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius:50%;
  img{
    width: 100%;
    height: 100%;
    border: 1px solid #efefef;
    border-radius: 50%;
  }
}