// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.light {
    background-color: #f0f2f5;
    color: #1c1e21;
    font-family: helvetica, sans-serif; 
    text-align: left;
}
      
.dark {
    background-color: #1F2833;
    color: #ffffff;
    font-family: helvetica, sans-serif; 
    text-align: left;
}

.bg_image {
    background-image: url("https://images.pexels.com/photos/1000445/pexels-photo-1000445.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
}


.sign_up {
    position:absolute;
    top:10%;
    right:55%;
    left:45%;
}

// Profile (users/show.html.erb)
#profile-postname {
    font-size: large;
    font-weight: bold;
    text-align: left;
    .mini-avatar {
      display:inline-block;
      width: 40px;
      height: 40px;
      margin-right: 8px;
      border-radius:50%;
      vertical-align: top;
      img{
        width: 100%;
        height: 100%;
        border: 1px solid #efefef;
        border-radius: 50%;
        
      }
    }
    .poster-name {
      display:inline-block;
      margin-right:10px;
      vertical-align: 40%;

      #profile-timeago {
        color: #666666;
        font-size: medium;
      }
    }
  }
